header{
  width: 1200px;
  margin: 0 auto;
width: 1600px;
/* height: 750px; */
  /* border: 7px solid #FBF10D; */
}

.boss{
  display: flex;
justify-content: center;
gap: 100px;
margin-right: 70px;
margin-top: 40px;
}

.wew{
 width: 54px;
 height: 51px;
}

.hol{
  width: 100px;
  height: 100px;

}



.rop{
  font-size: 50px;
  font-weight: 700;
  
}

p{
  font-size: 25px;
  font-weight: 500;
}

.boss p:hover{
  font-size: 30px;
  font-weight: 500;
}
.pizza{
    margin-left: 400px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

span{
    color: orange;
}
.pol{
    margin-left: 200px;
}
.qwer{
    font-size: 100px;
    font-weight: 700;
}

.border{
    width: 1170px;
height: 492px;
border: 7px solid #FBF10D;

}

.swe{
    padding-left: 60px;
}

.hog{
    font-size: 25px;
    font-weight: 500;
    padding-left: 60px;
}

section{
  background-color: #FBF10D;
  width: 1200px;
margin: 0 auto;
width: 1170px;
height: 10px;
border-radius: 20px;
margin-top: 200px;
}

.lotka{
  display: flex;
width: 1200px;
margin: 0 auto;

}

.lodka{
  display: flex;
}

.tip{
 
  padding-top: 100px;

}
.lom{
padding-left: 50px;
font-weight: 700;
}

.wew {
width: 32px;
height: 32px;
margin-top: 23px;
}

.tio{
  display: block;
}